<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Page Item Retriever</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div><h1>Item Input Page</h1></div>
    <form>
        <div class="form__fieldset">
            <label for="date_missed" class="form__label">Date Missed:</label>
            <input type="date_missed" name="date_missed" id="date_missed" class="form__input" />
          </div>

          <div class="form__fieldset">
            <label for="image_link" class="form__label">Image Link:</label>
            <input type="image_link" name="image_link" id="date" class="form__input" />
          </div>

          <div class="form__fieldset">
              <input
              class="form__submit form__input"
              type="submit"
              value="Add Item"
              />
          </div>
    </form>
</body>
</html>